# Visual Studio Stuff
# =====================
*.opensdf
*.sdf
*.user
*.nvuser
*.ReSharper
*.suo
*.psess
*.vsp

# Visual Studio Folders
# =====================
.vs
obj
packages
bin_x64
bin_x64_debug
.vs



# Dependency
# =====================
dependencies
